[Unit]
Description=Partition system resources
After=network.target network-online.target rc-local.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/syspart start
ExecStop=/etc/init.d/syspart stop
RemainAfterExit=yes

[Install]
WantedBy=graphical.target multi-user.target
