/pkg/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bitops/.deps/
/bitops/.dirstamp
/bitops/Makefile
/bitops/Makefile.in
/bitops/*.o
/*.o
/bitops/bitops
/config.*
/configure
/depcomp
/init/Makefile
/init/Makefile.in
/install-sh
/missing
/rpm-build/
/syspart.spec
/version.mk
